body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 98vh;
}

header, 
footer {
    height: 9vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

.container {
    flex: 1;

    display: flex;
    flex-wrap: wrap;

    max-height: 80vh;
    max-width: 80vw;
    
    box-sizing: border-box;
    /* border: 2px lightblue solid; */
}

.box {
    box-sizing: border-box;
    border: 1px lightblue solid;
}
.body {
    margin: 0;
    padding: 0;
}